---
title: grunt-starter-kit
layout: default.hbs
---
<section>
	<details>
		<summary>
			News
		</summary>
	</details>
	<article>
		<h2>
			March 15, 2012
		</h2>
		<p>
			The Flippy has us, once more. I'd like to first take a moment to shed a tear and say that <em>just yesterday</em> I retired the original server that started this domain, all it's game servers & websites, and frankly my continued interest in coding which lead to a successful career thus far. He was a dual Pentium 3 (back when it was actually 2 physical processors [gasp!]), 933Mhz machine of which the site and game servers used to run on, otherwise known as the great and all powerful "Flippy". Beleive it or not, it still runs just fine... just every once in a while he would loose power and reboot, and I couldn't figure out why. Perhaps his way of telling me "I'm too old for this mess". Some may have noticed I've resurected another old machine of mine, "<a href="http://a5.sphotos.ak.fbcdn.net/hphotos-ak-ash4/418986_10150652703454518_760604517_8999406_1936773085_n.jpg" target="_blank">Sauron</a>", with fresh guts and new life to take over for Flippy. Alas, you were a great host machine Flippy, one which to work around the clock but desperately needed, and deserved, retirement. Perhaps there will be some use for you again. Maybe you will find a home with a young aspiring web developer, such as Brian K. and myself were when we first aquired Flippy, who will wipe your rusty Windows 2003 server ridden drives clean, put a fresh install of linux on you, fire you up and learn how to "master the web" as we once did. You had an epic run Flip', many good times.
		</p>
		<p>
			In the wake of dusting off Flippy and remembering all the good times, I started to think back about all he's done. Luckily, even if my memory isn't so great, the internet's memory is. Ah what we find on the web of the 'days of old' is astounding. As you may have noticed, Flippydisk.com hasn't had any content up for quite some time now and I've always wanted to do something with it agian. But what to do and with what design theme? Out of curiosity I used <a href="http://www.archive.org/web/web.php" target="_blank">the web archive</a>, aka the "way back machine", to look back at what Flippydisk used to be. After sifting through several years of archives I came across this version of the site, which sparked a lot of good memories of game servers and websites we've hosted in the past.
		</p>
		<p>
			After looking at it again I decided, hey it's still not so bad! Looks decent on most modern browsers and pretty good on mobile phones, at least in landscape mode. You know what, I'm going to ressurect this theme... a quick view source and... OMG HAHHAHAHHAHAHA wow. Go ahead and do it if you're a web developer, it's good for a laugh. OK, wipe the spittal off your monitor and calm down. Oh what a tangled world wide web we used to weave when things like CSS were just starting to come into play. Except for this particular news post and it's use of some standard tags almost everything else is the original code from back in May of 2002. &lt;font&gt; tags, unclosed double &lt;br&gt; tags for spacing, inline bgcolor and other depricated attributes & tags, 1px transparent gif's & 1px wide table cells with white backgrounds for borders, and yes that's a page hit counter at the bottom hehe. No longer working of course, but that number got up there for a home-hosted online gaming community amongst a few friends. Fun stuff & good memories.
		</p>
		<p>
			So now that I've decided to bring Flippydisk.com back to life, I'm at least going to overhaul the code structure. As those of you who code can imagine, it might be good for a laugh but it's just not scaleable and I just can't moraly leave it like this. As to what it'll be and what information it'l hold when it's done, that has yet to be determined. It'll certainly mention the multitude of websites Flippydisk network hosts & it's admins have developed, but it'll take some mulling over to think about if it becomes more than that.
		</p>
		<p>
			For now, it's happy retirement Flippy, welcome back Sauron, and here's to sifting through a ton of jumbled HTML mess to turn it into a useable theme again. Cheers!
		</p>
		<h2>
			- Psykoral
		</h2>
	</article>
</section>
<section>
	<details>
		<summary>
			The Flippydisk
		</summary>
	</details>
	<article>
		<h2>
			(Im)Proper Care of Flippy Disks
		</h2>
		<p>
			Never leave diskettes in the disk drive, as data can leak out of the disk and corrode the inner mechanics of the drive. Diskettes should be rolled up and stored in pencil holders. Diskettes should be cleaned and waxed once a week. Microscopic metal particles can be removed by waving a powerful magnet over the surface of the disk. Any stubborn metallic shavings can be removed with scouring powder and soap.
		</p>
		<p>
			When waxing the diskettes, make sure the surface is even. This will allow the diskette to spin faster, resulting in better access time. Do not fold diskettes unless they do not fit into the drive. "Big" diskettes may be folded and used in "little" disk drives. Never insert a diskette into the drive upside down. The data can fall off the surface of the disk and jam the intricate mechanics of the drive.
		</p>
		<p>
			Diskettes cannot be backed up by running them through the xerox machine. If your data is going to need to be backed up, simply insert two diskettes into the drive. Whenever you update a document, the data will be written on both diskettes.
		</p>
		<p>
			Diskettes should not be inserted or removed from the drive while the red light is flashing. Doing so could result in smeared or possibly unreadable text. Occasionally the red light remains flashing in what is known as a "hung" or "hooked" state. If your system is "hooking" you will probably need to insert a few coins before being allowed access to the slot.
		</p>
		<p>
			If your diskette is full and you need more storage space, remove the disk from the drive and shake vigorously for 2 minutes. This will pack the data enough (Data Compression) to allow for more storage.
		</p>
		<p>
			Be sure to cover all the openings with scotch tape to prevent loss data. Access time can be greatly improved by cutting more holes in the diskette jacket. This will provide more simultaneous access points to the disk.
		</p>
		<p>
			Diskettes may be used as coasters for beverage glasses, provided that they are properly waxed beforehand. Be sure to wipe the diskettes dry before using. (see item 2 above) Never use scissors and glue to manually edit documents. The data is stored much too small for the naked eye, and you may end up with data from some other document stuck in the middle of your document. Razor blades and scotch tape may be used, however, provided the user is equipped with an electron microscope.
		</p>
		<p>
			Periodically spray diskettes with insecticide to prevent system bugs from spreading.
		</p>
	</article>
</section>
